@font-face {
    font-family: noodle;
    src: url(./font_/big_noodle_titling.ttf);
}

@media screen and (max-width:2000px) {

    nav {
        display: flex;
        background-color: #596e44;
        width: 100%;
        
    }
    
    nav a {
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 32px;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: 100%;
        justify-content: right;
    }
    
    nav ul li {
        text-align: right;
        padding-right: 10px;
    }
    
    nav ul li a {
        padding: 5px 0;
        width: 100%;
        text-decoration: none;
        color: white;
    }
    
    nav ul li a:hover {
        color: #99a285;
        border-radius: 10px;
        top: 2px;
        position: relative;
    }
    
    div#button {
        display: flex;
    }
    
    button {
        font-size: 22px;
        cursor: pointer;
        border-radius: 28px;
        border: 1px solid #99a285;
        color: #99a285;
        font-family: noodle;
        padding: 11px 19px;
        background-color: white;
        margin: 5px;
        text-shadow: 0px 1px 0px #84887a;
        text-transform: uppercase;
    }
    
    button:hover {
        background-color: #99a285;
        color: white;
    }
    
    button:active {
        position: relative;
        top: 1px;
    }

body {
    font-family: noodle;
    background-color: #99a285;
    margin: 0;
}

h1 {
    color: white;
    font-size: 80px;
    margin: 50px;
    text-shadow: 7px 7px 7px #596e44;
}

}


@media screen and (max-width:600px) {
    nav {
        display: flex;
        background-color: #596e44;
        width: 100%;
        
    }
    
    nav a {
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 20px;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        width: 100%;
        justify-content: right;
    }
    
    nav ul li {
        text-align: right;
        padding-right: 10px;
    }
    
    nav ul li a {
        padding: 5px 0;
        width: 100%;
        text-decoration: none;
        color: white;
    }
    
    nav ul li a:hover {
        color: #99a285;
        border-radius: 10px;
        top: 2px;
        position: relative;
    }
    
    div#button {
        display: flex;
    }
    
    button {
        font-size: 22px;
        cursor: pointer;
        border-radius: 28px;
        border: 1px solid #99a285;
        color: #99a285;
        font-family: noodle;
        padding: 11px 19px;
        background-color: white;
        margin: 5px;
        text-shadow: 0px 1px 0px #84887a;
        text-transform: uppercase;
    }
    
    button:hover {
        background-color: #99a285;
        color: white;
    }
    
    button:active {
        position: relative;
        top: 1px;
    }
}